
    
    h1{
        font-weight: lighter;
        font-family: Helvetica;
    }
    #wrapper{
        margin: 1em auto; 
        padding: 0;
        width:960px;
        border:3px solid black;
        background-color:white;
        display: grid;
        grid-template-columns: repeat(6);
      }

   
    header {
      grid-column: span 6;
      background:lightskyblue;
      padding-left: 1em;
      color:darkblue;
      border:1px solid black;
    }
    nav{
        grid-column: span 6;
        padding-left: 2em;
    }
    nav ul{
        list-style-type: none;
    padding: 0px;
    margin: 0px;
    }
    nav li {
        border: 3px solid black;
        width: 150px;
        padding: 0px;
        margin: 10px;
        background-color: darkblue; 
        display: inline-block;
        font-weight:lighter;
        text-align: center;
        font-family:helvetica;
       
    }
    
    nav li a {
        color:white;
        padding: 10px;
        text-decoration: none;
        display: block;
    }
    
    nav li a:hover {
        background-color:blue;
    text-decoration: none;
    color:white;
    }
    
    a {
        text-decoration: none;
        font-weight:bold;
        color:green;
    
      }

      a:hover {
        color:darkblue;
        text-decoration: underline;
      }

    
      main {
        grid-column: span 4;
        padding:0 1em 0 1em;
      }
      aside {
        background-color: lightskyblue;
        padding: 2em;
        color:darkblue;
        grid-column: 5;
       
      }

    #bob{
      float:right;
      margin-left: 1em;
    }
    
   

    h2 {
        font-family: Helvetica;
    }

hr{
    border: 1px solid black;
}
    
    #box  {color:black;
        padding: 70px;
        margin: 70px;
        text-decoration: none;
        display: block;
        margin: 0px;
        background-image:url(https://qgarrett.github.io/CTK301/a62.png);
        }
        
        p {
            text-align: justify;
            font-family: Georgia;
        }
   footer{
    border: 2px solid black;
    background-color: red;
    color:white;
    text-align: center;
    grid-column:span 6;
    font-family:Verdana;
    font-style: italic;
  
}

  .italicized{
    font-family: Georgia;

  }

  .h2{
    border-bottom: white;
  }

  aside{
    margin:10px;
  }

  image{
    width:240;
  }

  #it{
    font-style: italic;
  }